.venv/
__pycache__/
*.pyc
data/raw/
data/real/*.png
data/fake/*.png
data/fake_dcgan/*.png
data/fake_stylegan2ada/*.png
data/fake_diffusion/*.png
data/splits/*.npy
*.pth
*.safetensors
training/checkpoints/
*.zip
.DS_Store
kaggle/*.zip
kaggle/data/
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
kaggle_genpool_upload/
